@import "tailwindcss";

@theme {
  --color-primary: #f5b417;
  --color-secondary: #f5b21785;
  --font-phudu: 'Phudu Variable', system-ui;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter Variable', sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}