---
import { Image } from 'astro:assets';
import Wycus from "../assets/banners/wcu.jpg";
---


<section class="relative w-full py-12 md:py-22 text-white">

  <!-- Background Image -->
  <div class="absolute inset-0">
    <Image src={Wycus} alt="Wycus" quality={30} class="w-full h-full object-cover"></Image>
    <div class="absolute inset-0 bg-black/70"></div>
  </div>

  <!-- Content -->
  <div class="relative z-10 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">

    <!-- Heading -->
    <h2 class="text-4xl md:text-5xl font-phudu font-extrabold uppercase tracking-wide">
      WHY CHOOSE 
      <span class="text-primary">JDK TRANSPORTATION?</span>
    </h2>

    <!-- Paragraph -->
    <p class="mt-8 text-lg md:text-xl font-light leading-snug">
      JDK Transportation is a trusted charter bus rental provider serving diverse clients across the metro area.
      With years of experience, we've earned a reputation for reliability and exceptional service, helping groups
      of all sizes travel stress-free. Our 24/7 team is dedicated to finding the perfect vehicle and amenities to
      match your unique needs.
      <br><br>
      We'll work with you to craft a customized package that fits your schedule, route, and budget. Whether it's
      a school trip, corporate event, or private outing, we prioritize comfort, safety, and punctuality. Our
      commitment to exceptional customer service means you'll enjoy a seamless journey from start to finish.
    </p>

  </div>

</section>


<section class="bg-gray-100 py-12">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

    <div class="grid md:grid-cols-3 gap-8">

      <!-- Card 1 -->
      <div class="bg-white rounded-xl shadow-lg p-6 flex items-start gap-4 border border-gray-400 group transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl">

        <!-- Icon -->
        <div class="text-black">
            <svg id='Check_Badge_24' width='38' height='38' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' fill='#000000' opacity='0'/>
            <g transform="matrix(0.83 0 0 0.83 12 12)" >
            <g>
            <g transform="matrix(1 0 0 1 -0.1 -0.6)" >
            <path style="stroke: rgb(0,0,0); stroke-width: 1.8072289156626506; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" transform=" translate(-12, -11.5)" d="M 8 11 L 11 14 L 16 9" stroke-linecap="round" />
            </g>
            <g transform="matrix(1 0 0 1 -0.1 -0.1)" >
            <path style="stroke: rgb(0,0,0); stroke-width: 1.8072289156626506; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" transform=" translate(-12, -12)" d="M 19.778 15.222 L 23 12 L 19.778 8.778 L 19.778 4.222 L 15.221999999999998 4.222 L 12 1 L 8.778 4.222 L 4.222 4.222 L 4.222 8.778 L 1 12 L 4.2219999999999995 15.222 L 4.2219999999999995 19.778 L 8.777999999999999 19.778 L 12 23 L 15.222 19.778 L 19.778 19.778 L 19.778 15.221999999999998 z" stroke-linecap="round" />
            </g>
            </g>
            </g>
            </svg>
        </div>

        <!-- Text -->
        <p class="text-lg font-normal leading-snug">
          Whether you need 1 bus or more, our Transportation fleet can help you
        </p>

      </div>

      <!-- Card 2 -->
      <div class="bg-white rounded-xl shadow-lg p-6 flex items-start gap-4 border border-gray-400 group transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl">

        <div class="text-black">
            <svg id='Check_Badge_24' width='38' height='38' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' fill='#000000' opacity='0'/>
            <g transform="matrix(0.83 0 0 0.83 12 12)" >
            <g>
            <g transform="matrix(1 0 0 1 -0.1 -0.6)" >
            <path style="stroke: rgb(0,0,0); stroke-width: 1.8072289156626506; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" transform=" translate(-12, -11.5)" d="M 8 11 L 11 14 L 16 9" stroke-linecap="round" />
            </g>
            <g transform="matrix(1 0 0 1 -0.1 -0.1)" >
            <path style="stroke: rgb(0,0,0); stroke-width: 1.8072289156626506; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" transform=" translate(-12, -12)" d="M 19.778 15.222 L 23 12 L 19.778 8.778 L 19.778 4.222 L 15.221999999999998 4.222 L 12 1 L 8.778 4.222 L 4.222 4.222 L 4.222 8.778 L 1 12 L 4.2219999999999995 15.222 L 4.2219999999999995 19.778 L 8.777999999999999 19.778 L 12 23 L 15.222 19.778 L 19.778 19.778 L 19.778 15.221999999999998 z" stroke-linecap="round" />
            </g>
            </g>
            </g>
            </svg>
        </div>

        <p class="text-lg font-normal leading-snug">
          Get Personalized Pictures & prices in seconds
        </p>

      </div>

      <!-- Card 3 -->
      <div class="bg-white rounded-xl shadow-lg p-6 flex items-start gap-4 border border-gray-400 group transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl">

        <div class="text-black">
            <svg id='Check_Badge_24' width='38' height='38' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' fill='#000000' opacity='0'/>
            <g transform="matrix(0.83 0 0 0.83 12 12)" >
            <g>
            <g transform="matrix(1 0 0 1 -0.1 -0.6)" >
            <path style="stroke: rgb(0,0,0); stroke-width: 1.8072289156626506; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" transform=" translate(-12, -11.5)" d="M 8 11 L 11 14 L 16 9" stroke-linecap="round" />
            </g>
            <g transform="matrix(1 0 0 1 -0.1 -0.1)" >
            <path style="stroke: rgb(0,0,0); stroke-width: 1.8072289156626506; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" transform=" translate(-12, -12)" d="M 19.778 15.222 L 23 12 L 19.778 8.778 L 19.778 4.222 L 15.221999999999998 4.222 L 12 1 L 8.778 4.222 L 4.222 4.222 L 4.222 8.778 L 1 12 L 4.2219999999999995 15.222 L 4.2219999999999995 19.778 L 8.777999999999999 19.778 L 12 23 L 15.222 19.778 L 19.778 19.778 L 19.778 15.221999999999998 z" stroke-linecap="round" />
            </g>
            </g>
            </g>
            </svg>
        </div>

        <p class="text-lg font-normal leading-snug">
          We offer oneway, hourly, round-trip, and multi-day packages
        </p>

      </div>

    </div>

  </div>
</section>